a {

	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

body {

	background-color: #2c3c50;
	margin: 0px;

}

body > p {

	color: #506a70;
	font-family: sans-serif;
	margin: 0;
	margin-bottom: 27px;
	text-align: center;

}

h4 {

	text-transform: uppercase;

}

img {

	height: 100%;

}

header {

	background-color: white;
	display: flex;

}

header h1 {

	color: rgb(255 255 255);
	font-size: 25px;
	letter-spacing: 10px;
	text-align: center;
	width: 100%;

}

header a img {

	height: 100%;

}

nav {

	display: flex;
	justify-content: space-between; /* Když je display flex tohle řikám jak se k těm věcem co jsou uvnitř má chovat */
	width: 100%;

}

nav a {

	color: rgb(148 148 148);
	display: block;
	margin-top: 20px;
	text-align: center;
	text-decoration: none;
	transition: .5s ease;
	vertical-align: text-bottom;
	width: 12.8%;

}

nav a div {

	background-color: black;
	height: 5px;
	margin-top: 21px;
	transition: .5s ease;
	width: 0%;

}

nav a:hover {

	color: black;

}

nav a:hover div {

	width: 100%;

}

#Container > h3 {

	color: white;
	font-family: sans-serif;
	font-size: 100px;
	font-weight: 100;
	margin: 0;
	position: absolute;
	text-align: center;
	transform: translate(0%, -50%);
	top: 50%;
	width: 100%;

}

#Container div h3 {

	color: white;
	font-family: sans-serif;
	font-size: 100px;
	font-weight: 100;
	margin: 0;
	text-align: center;
	width: 100%;

}

#Container {

	position: relative;

}

#Container div {

	display: flex;
	flex-direction: column;
	position: absolute;
	top: 50%;
	transform: translate(0%, -50%);
	width: 100%;

}

#Container img {

	opacity: 65%;
	width: 100%;

}

#Container div button {

	color: #4b6992;
	background-color: white;
	border: none;
	border-radius: 40px;
	cursor: pointer;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	transition: .5s ease;
	width: 25%;

}

#Container div button:hover {

	background-color: #b8b8b8;
	color: white;

}

#Content {

	background-color: #f9f9f9;
	height: 85%;
	margin-bottom: 27px;
	padding: 40px;

}

#Content h1 {

	font-family: sans-serif;
	font-size: 48px;
	font-weight: normal;
	margin-top: 0;

}

#Content h4 {

	font-family: sans-serif;
	font-size: 28px;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 15px;

}

#Content p {

	color: #949494;
	font-family: sans-serif;
	font-size: 20px;
	line-height: 35px;

}

#ImagesContainer {

	border: 1px solid #efefef;
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	justify-content: space-evenly;
	margin: 15px;
	padding: 15px;

}

#ImagesContainer img {

	height: 174px;

}
