#Content {

	height: auto;

}

#Content > img {

	margin-bottom: 35px;

}

#ImagesContainer {

	margin-bottom: 30px;

}

#RestaurantInfo {

	display: flex;
	justify-content: space-evenly;

}

#RestaurantInfo img {

	height: 100px;
	margin-bottom: 35px;
	

}
